body {
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-align: right;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

nav {
    display: flex;
}

.icon {
    width: 50px;
    height: 50px;
}

.content {
    position: absolute;
    right: 10%;
    font-size: 3rem;
}
.social-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}